language: node_js
node_js:
  - "stable"
  
on:
  branch: master   
script:
  - npm install
  - npm test
  - npm run build

deploy:
  provider: surge
  skip_cleanup: true
  domain: rude-slope.surge.sh
  project: ./build/

